exportPattern("^[[:alpha:]]+")
importFrom(cubature,adaptIntegrate)
importFrom(SimplicialCubature,adaptIntegrateSimplex,SimplexSurfaceArea,SimplexVolume)
importFrom(mvmesh,UnitSphere,V2Hrep,IntersectMultipleSimplicesH)
importFrom(stats,integrate)
importFrom(abind,abind)
