exportPattern("^[[:alpha:]]+")
importFrom(cubature,adaptIntegrate)
importFrom(SimplicialCubature,adaptIntegrateSimplex,SimplexSurfaceArea)
importFrom(mvmesh,UnitSphere)
importFrom(stats,integrate)
